/* Reset og border-box á allt */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.title {
  border-bottom: 1px solid black;
  /*padding: 1rem;*/
}
@font-face {
  font-family: "Lora";
  src: url("fonts/Lora/Lora-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Noto Sans Display";
  src: url("fonts/Noto_Sans_Display/NotoSansDisplay-VariableFont_wdth\,wght.ttf");
}

/*Leturgerðir */

/** Hér skal skilgreina leturgerðir **/

/* Stillingar */

:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --font-base-body-px: 16px;
  --spacing: 1rem;

  /* Hámarksbreidd á efni */
  --max-width: 900px;

  /* Border breiddir */
  --border-small: 1px;
  --border-large: 8px;
  --border-radius: 6px;

  /* Litir */
  --color-gold: #ffe7ae;
  --color-gold-light: #fff1cf;
  --color-dark: #2f0505;
  --color-light: #fff9ee;

  /* Letur stillingar */
  --font-base-size: 1rem;
  --font-family-base: "Noto Sans Display", Helvetica, Arial, sans-serif;
  --font-family-heading: "Lora", Georgia, serif;
}

/* Almennt */

/** Skilgreininar sem gilda fyrir allt efni og nota type selectora **/

html,
input,
select,
button {
}

h1,
h2,
h3 {
  font-family: "Lora";
  font-weight: bold;
}
h2 {
  padding-left: 1rem;
}

a {
  color: inherit;
  background-color: inherit;
}

img {
  max-width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top center;
  padding-top: 1rem;
}

/** Hjálpar class sem felur sjónrænt en skjálesarar lesa **/
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Layout */

.wrapper {
  font-family: "Noto Sans Display";
}

/** Haus **/

.header {
  background-color: #2f0505;
  text-align: center;
}

.header header {
  color: #ffe7ae;
}

/** Valmynd **/

.navigation {
  background-color: #ffe7ae;
  border-bottom: 8px solid #ffe7ae;
}

.navigation ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 1rem;
  text-align: center;
  background-color: #fff9ee;
}
.navigation li {
  margin: 0 8px;
}

/** Meginmál **/

.sagan p {
  margin: 1rem;
}
.sagan h2 {
  margin: 1rem;
}

/** Fótur **/

.footer {
  background-color: #2f0505;
  color: #ffe7ae;
  border-top: 8px solid #ffe7ae;
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer ul {
  list-style: none;
}
#efni p a {
  padding: 1rem;
}

/* Box! */

.boxes {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  justify-content: space-between;
  gap: 1rem;
}

.boxes .box {
  width: 49%;
  box-sizing: border-box;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem 1rem;
  background-color: #ffe7ae;
  padding: 0.5rem;

}
.inner-box {
  padding: 0.5rem;
  /*text-align: center;*/
  flex: 1;
  box-sizing: border-box;
}
.boxes dt {
  font-weight: bold;
  padding-top: 1rem;
}

.boxes p {
  margin: 0;
  padding: 0;
}
.menu {
  width: 100%;
  display: flex;
  justify-content: center;
}
.menu table {
  border-collapse: collapse;
}
.menu tr:nth-child(odd) {
  background-color: #ffe7ae;
}
.menu td {
  padding: 0.5rem;
}

.menu thead th {
  background-color: white;
  border-spacing: 0 2px;
  text-align: center;
}
